node-red-data/flows.json
[{"id":"1135c133.789bef","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ffcb381b.811348","type":"mqtt-broker","z":"","name":"broker","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"21fa6b8.52bf994","type":"mqtt in","z":"1135c133.789bef","name":"","topic":"stuff","qos":"2","broker":"ffcb381b.811348","x":240,"y":400,"wires":[["7357efe4.5396b"]]},{"id":"dcb5a5fd.75b608","type":"mqtt out","z":"1135c133.789bef","name":"","topic":"stuff","qos":"","retain":"","broker":"ffcb381b.811348","x":490,"y":180,"wires":[]},{"id":"698ff91e.37b968","type":"inject","z":"1135c133.789bef","name":"","topic":"test","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["dcb5a5fd.75b608"]]},{"id":"7357efe4.5396b","type":"debug","z":"1135c133.789bef","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":340,"wires":[]}]